*temp*
build/
.vagrant/
agent-dev.cfg
server-dev.cfg
docs/.Python
docs/bin/
docs/include/
docs/lib/
docs/_build/
preso_secret/
client/repeattest.sh
*.out
*.DS_Store*
agent/testing/downloaded_testlets/
